---
layout: page
title: "About"
description: "This is Yuhao Zhu"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> English </option>
    <option value="1"> 中文 Chinese </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        梦泽千舟钓春色，闲客百代画秋心。
    </blockquote>
        朱宇浩，字子弘。

<!--
    <p style="text-align:right;">
        —— <a href="http://www.zhihu.com/question/19687065">李书航 － 什么是「共产中文腔调」？ </a>
    </p>
-->
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        I live and love in God's peculiar light.
        <p style="text-align:right;">
            -- Michelangelo di Lodovico Buonarroti Simoni
        </p>
    </blockquote>
    <p>
        Hello, I am Yuhao Zhu. I have an MPhil degree from the Tinbergen Institute, and I am now completing my doctoral studies under the supervision of Prof. Ingolf Dittmann at Erasmus University Rotterdam.
    </p>
    <p>
        My research interests are Corporate Finance, Corporate Governance, Executive Compensation, and Behavioral Finance.
    </p>
    <p>
        You can find my <a href="http://zhuyuhao.com/doc/YUHAO_ZHU_CV_20170501.pdf" download>Curriculum Vitae</a> below.
    </p>
    <div id="pdf">
        <object width="700" height="800" type="application/pdf" data="/doc/YUHAO_ZHU_CV_20170501.pdf?#zoom=85&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
            <p>Insert your error message here, if the PDF cannot be displayed.</p>
         </object>
    </div>

<!--
    <p style="text-align:right;">
    -- Steve Jobs
    </p>
-->
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $en.style.display = "block";
            $zh.style.display = "none";
        }else{
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
